@font-face {
  font-family: 'CyrillicOld';
  src: url('../../fonts/CyrillicOld.woff') format('woff'), url('../../fonts/CyrillicOld.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}