.header {
  position: relative;
  width: 100%;
  height: auto;
  padding: 1px;
  z-index: 2;
  background: transparent;
  //background: url("../../images/bg_header.jpg") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  .nav {
    @include navList();
  }
  .light-1, .light-2 {
    position: absolute;
    top: 0;
  }
  .light-1 {
    left: 0;
  }
  .light-2 {
    right: 220px;
  }
  .logo {
    margin-top: 3px;
    text-align: center;
    width: auto;
    height: auto;
  }
}