@media screen and (min-width: 700px) and (max-width: 991px) {
  .main { height: 1800px; }
}
@media screen and (min-width: 600px) and (max-width: 699px) {
  .main { height: 1600px; }
}
@media screen and (min-width: 400px) and (max-width: 599px) {
  .main { height: 1400px; }
}