@mixin no-indent() {
  margin: 0;
  padding: 0;
}
@mixin font() {
  font-family: 'Sunday', Verdana, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0 5px #fff;
}
@mixin transformScale($param) {
  -webkit-transform: scale($param);
  -moz-transform: scale($param);
  -ms-transform: scale($param);
  -o-transform: scale($param);
  transform: scale($param);
}
@mixin transitionTransform($sec) {
  -webkit-transition: transform $sec;
  -moz-transition: transform $sec;
  -o-transition: transform $sec;
  transition: transform $sec;
}
@mixin shadow-top-bottom($hoff, $voff, $blur) {
  //box-shadow: inset hoff voff blur color;
  -webkit-box-shadow:$hoff $voff $blur rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:$hoff $voff $blur rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:$hoff $voff $blur rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  &:before, &:after {
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 5px 20px rgba(0,0,0,0.9);
    -moz-box-shadow:0 5px 20px rgba(0,0,0,0.9);
    box-shadow:0 5px 20px rgba(0,0,0,0.9);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    border-radius:100px / 10px;
  }
  &:after {
    left: auto;
    right: auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
  }
}