@mixin hidden() {
  display: none !important;
  visibility: hidden;
}
@mixin no-indent() {
  margin: 0;
  padding: 0;
}
@mixin Sunday() {
  font-family: 'Sunday', Verdana, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0 5px #fff;
}
@mixin CyrillicOld() {
  font-family: 'CyrillicOld', sans-serif;
  font-weight: bold;
}
@mixin gradient() {
  z-index: 1;
  position:relative;
  width: 100%;
  background: linear-gradient(to top, #b59b8b, #fff, #b59b8b);
  -webkit-background-size: cover;
  background-size: cover;
}
@mixin transformScale($param) {
  -webkit-transform: scale($param);
  -moz-transform: scale($param);
  -ms-transform: scale($param);
  -o-transform: scale($param);
  transform: scale($param);
}
@mixin transitionTransform($sec) {
  -webkit-transition: transform $sec;
  -moz-transition: transform $sec;
  -o-transition: transform $sec;
  transition: transform $sec;
}
//<ul> wrappper
@mixin navText($fontSize) {
  font-size: $fontSize;
  font-family: 'CyrillicOld', sans-serif;
  text-transform: uppercase;
  text-shadow: 0 5px 2px rgba(0,0,0,.5);
  a {
    text-align: center;
    color: $header-text-color;
    &:hover {
      color: lighten($header-text-color, 25%);
    }
  }
}
@mixin navList() {
  padding-top: 60px;
  &-list { //ul
    list-style: none;
    li {
      float: left;
      text-align: left;
      width: 20%;
      @include navText(2.7rem);
    }
  }
}
@mixin titles($fontSize) {
  font-family: 'CyrillicOld', sans-serif;
  color: #5e361f;
  font-weight: bold;
  font-size: $fontSize;
  text-transform: uppercase;
  //text-align: center;
  //margin-bottom: 2rem;
}