{% extends "templates/default.njk" %}
{% block header %}
    {% include "templates/partials/header.njk" %}
{% endblock %}
{% block content %}
    <div class="brown"></div>
    <section class="contacts-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contacts clearfix">
                        <h1 class="contacts-title">контактная информация</h1>
                        <figure class="contacts-person">
                            <img src="images/artem.jpg" alt="contact">
                            <figcaption class="contacts-caption">Артем: 8-923-217-2838</figcaption>
                        </figure>
                        <figure class="contacts-person">
                            <img src="images/danila.jpg" alt="contact">
                            <figcaption class="contacts-caption">Данила: 8-960-765-8334</figcaption>
                        </figure>
                        <script type="text/javascript" src="//vk.com/js/api/openapi.js?121"></script>
                        <!-- VK Widget -->
                        <div id="vk_groups" class="widget"></div>
                        <script>
                            VK.Widgets.Group("vk_groups", {mode: 0, width: "223", height: "262", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 113486822);
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}