{% extends "templates/default.njk" %}
{% block header %}
    {% include "templates/partials/header.njk" %}
{% endblock %}
{% block content %}
    <div class="brown"></div>
    <section class="images-wrap">
        {% import "templates/macros/breadcrumbs.njk" as breadcrumbs %}
        {{ breadcrumbs.page('двери') }}
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="images">
                        {% for thumb in doors_1 %}
                            <div class="thumb">
                                <a href="{{ thumb.href }}" data-rel="lightcase:myCollection"><img src="{{ thumb.src }}" alt="{{ thumb.alt }}"></a>
                                <span class="thumb-caption">{{ thumb.number }}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="images">
                        {% for thumb in doors_2 %}
                            <div class="thumb">
                                <a href="{{ thumb.href }}" data-rel="lightcase:myCollection"><img src="{{ thumb.src }}" alt="{{ thumb.alt }}"></a>
                                <span class="thumb-caption">{{ thumb.number }}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="images">
                        {% for thumb in doors_3 %}
                            <div class="thumb">
                                <a href="{{ thumb.href }}" data-rel="lightcase:myCollection"><img src="{{ thumb.src }}" alt="{{ thumb.alt }}"></a>
                                <span class="thumb-caption">{{ thumb.number }}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="images">
                        {% for thumb in doors_4 %}
                            <div class="thumb">
                                <a href="{{ thumb.href }}" data-rel="lightcase:myCollection"><img src="{{ thumb.src }}" alt="{{ thumb.alt }}"></a>
                                <span class="thumb-caption">{{ thumb.number }}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}