{% extends "templates/default.njk" %}
{% block header %}
    {% include "templates/partials/header.njk" %}
{% endblock %}
{% block content %}
    {#<div class="brown"></div>#}
    <section class="answers-wrap">
        <img class="header-shadow img-responsive" src="images/top_shadow.png" alt="shadow">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="faq-title">часто задаваемые вопросы</h2>
                    <div class="faq-box">
                        <div class="faq-text clearfix">
                            <h3>1. какие сроки изготовления?</h3>
                            <p>Сроки изготовления зависят от вашего заказа. Как правило, это занимает не более 1 месяца.</p>
                            <h3>2. от чего зависит цена?</h3>
                            <p>Цена расчитывается в зависимости от вашего заказа: сложность исполнения
                                (резьба, ковка), качество фурнитуры, объем заказа (больше заказ - меньше цена).<br>
                                Ex: стол (30.000 руб) + кровать (35.000 руб) = 65.000 по отдельности,
                                но при единоразовом заказе 60.000 руб. Все расчитывается индивидуально.
                            </p>
                            <h3>3. как оплачивать?</h3>
                            <p>Оплата производится за наличный расчет по 50% предоплате при оформлении
                                заказа. Оставшаяся сумма оплачивается при приеме товара. Возможно
                                изготовление в рассрочку при 50% предоплате на полгода.
                            </p>
                            <h3>4. как оформить заказ?</h3>
                            <p>Чтобы оформить заказ от компании "Старина Мебель" вам всего лишь необходимо связаться с нами любым удобным способом: телефонный звонок, заявка на сайте, по электронной почте или в одной из соц. сетей. Мы свяжемся с вами и встретимся в любом удобном для вас месте.</p>
                            <h3>5. Могу ли я обратиться с уже готовым дизайн-проектом или эскизами мебели для ее изготовления?</h3>
                            <p>Да, конечно. Мы изготовим мебель по вашим проектам, а так же можем начертить эскиз или разработать интерьер отдельной комнаты по вашим пожеланиям. Эти услуги мы окажем вам абсолютно бесплатно.</p>
                            <h3>6. чем покрываете дерево?</h3>
                            <p>Мы работаем только с экологическими материалами. Чтобы придать поверхности желаемый цвет, дерево тонируется морилкой на водной основе. Затем покрывается бесцветным эколаком фирмы EUROTEX, который обеспечит долгий срок службы мебели. Или же мебель покрывается цветным лаком этой же фирмы. Мебель для наружным помещений обрабатывается пропиткой фирмы PINOTEX, благодаря которой окрашенная поверхность обладает дополнительной устойчивостью к воздействию солнца, дождя, снега и мороза.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img class="bottom-shadow img-responsive" src="images/top_shadow.png" alt="shadow">
    </section>
{% endblock %}