{% extends "templates/default.njk" %}
{% block header %}
    {% include "templates/partials/header.njk" %}
{% endblock %}
{% block content %}
    {#<div class="brown"></div>#}
    <section class="gallery">
        <img class="header-shadow img-responsive" src="images/top_shadow.png" alt="shadow">
        <div class="container">
            <div class="gallery-box">
                <div class="row">
                    <div class="col-lg-12">
                        {% for icon in firstRow %}
                            <div class="gallery-item">
                                <a href="{{ icon.href }}"><img src="{{ icon.src }}" alt="{{ icon.alt }}"></a>
                                <p class="gallery-caption">{{ icon.caption }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        {% for icon in secondRow %}
                            <div class="gallery-item">
                                <a href="{{ icon.href }}"><img src="{{ icon.src }}" alt="{{ icon.alt }}"></a>
                                <p class="gallery-caption">{{ icon.caption }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        {% for icon in thirdRow %}
                            <div class="gallery-item">
                                <a href="{{ icon.href }}"><img src="{{ icon.src }}" alt="{{ icon.alt }}"></a>
                                <p class="gallery-caption">{{ icon.caption }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="separator">
                <img class="separator-img" src="../images/sep_gray.png" alt="separator">
            </div>
            {#<img class="sep-gray img-responsive" src="../images/sep_gray.png" alt="separator">#}
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <section class="colors">
                        <h1 class="colors-title">Цветовая гамма</h1>
                        <ul class="colors-list">
                            {% for color in colors %}
                                <li class="colors-item">
                                    <h3 class="colors-color">{{ color.title }}</h3>
                                    <img id="{{ color.id }}" src="{{ color.src }}" alt="{{ color.alt }}">
                                </li>
                            {% endfor %}
                        </ul>
                    </section>
                </div>
            </div>
        </div>
        <img class="bottom-shadow img-responsive" src="images/top_shadow.png" alt="shadow">
    </section>
{% endblock %}