{% extends "templates/default.njk" %}
{% block header %}
    {% include "templates/partials/header.njk" %}
{% endblock %}
{% block content %}
    <div class="box">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="title-wrap">
                        <p class="header-title">
                            Мебель из состаренного <br>дерева от производителя <br> г.Красноярск
                        </p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="slider-wrap">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img class="img-responsive" src="../../images/slider_header/1.jpg" alt="img">
                                </div>
                                <div class="item">
                                    <img class="img-responsive" src="../../images/slider_header/2.jpg" alt="img">
                                </div>
                                <div class="item">
                                    <img class="img-responsive" src="../../images/slider_header/3.jpg" alt="img">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </a>
                        </div>
                        <img class="img-responsive" src="../../images/slider_shadow.png" alt="slider-shadow">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="container">
            <section class="benefits-1">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="benefit-1 clearfix">
                            <img src="../images/axe_1.png" alt="img">
                            <p><span class="word-1">бесплатная</span><br><span class="word-2">доставка</span></p>
                        </div>
                        <div class="benefit-1 clearfix">
                            <img src="../images/axe_1.png" alt="img">
                            <p><span class="word-1">работаем</span><br><span class="word-2">с 2013 года</span></p>
                        </div>
                        <div class="benefit-1 clearfix">
                            <img src="../images/axe_1.png" alt="img">
                            <p><span class="word-1">изготовление</span><br><span class="word-2">до 1 месяца</span></p>
                        </div>
                        <div class="benefit-1 clearfix">
                            <img src="../images/axe_1.png" alt="img">
                            <p><span class="word-1">гарантия</span><br><span class="word-2">18 месяцев</span></p>
                        </div>
                    </div>
                </div>
            </section>
            <img class="sep-gray" src="../images/sep_gray.png" alt="separator">
            <section class="scheme-wrap">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="scheme">
                            <img src="../images/wooden_plank.png" alt="scheme-bg">
                            <h2 class="scheme-title">схема работы</h2>
                            <ul class="scheme-captions-1">
                                <li><p>Вы звоните нам или<br> оставляете заявку</p></li>
                                <li><p>Обсуждение проекта,<br>составление тз</p></li>
                                <li><p>Документальное оформление отношений</p></li>
                                <li><p>Предоплата 50%<br><br></p></li>
                            </ul>
                            <img class="scheme-line-1" src="../images/scheme_line_1.png" alt="scheme">
                            <ul class="scheme-captions-2">
                                <li><p>дальнейшее<br>сотрудничество</p></li>
                                <li><p>прием товара<br>и оплата</p></li>
                                <li><p>бесплатная<br>доставка</p></li>
                                <li><p>выполнение работ<br><br></p></li>
                            </ul>
                            <img class="scheme-line-2" src="../images/scheme_line_2.png" alt="scheme">
                        </div>
                    </div>
                </div>
            </section>
            <img class="sep-gray" src="../images/sep_gray.png" alt="separator">
            <section class="benefits-2">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="benefit-2 clearfix">
                            <img src="../images/axe_2.png" alt="img">
                            <p><span class="word-1">экологичность</span><br><br></p>
                        </div>
                        <div class="benefit-2 clearfix">
                            <img src="../images/axe_2.png" alt="img">
                            <p><span class="word-1">эксклюзивность</span><br><br></p>
                        </div>
                        <div class="benefit-2 clearfix">
                            <img src="../images/axe_2.png" alt="img">
                            <p><span class="word-1">рассрочка</span><br><span class="word-2">без банка</span></p>
                        </div>
                        <div class="benefit-2 clearfix">
                            <img src="../images/axe_2.png" alt="img">
                            <p><span class="word-1">качество</span><br><br></p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="faq-wrap">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="faq-title">часто задаваемые вопросы</h2>
                        <div class="faq-box">
                            <div class="faq-text clearfix">
                                <h3>1. какие сроки изготовления?</h3>
                                <p>Сроки изготовления зависят от вашего заказа. Как правило, это занимает не более 1 месяца.</p>
                                <h3>2. от чего зависит цена?</h3>
                                <p>Цена расчитывается в зависимости от вашего заказа: сложность исполнения
                                    (резьба, ковка), качество фурнитуры, объем заказа (больше заказ - меньше цена).<br>
                                    Ex: стол (30.000 руб) + кровать (35.000 руб) = 65.000 по отдельности,
                                    но при единоразовом заказе 60.000 руб. Все расчитывается индивидуально.
                                </p>
                                <h3>3. как оплачивать?</h3>
                                <p>Оплата производится за наличный расчет по 50% предоплате при оформлении
                                    заказа. Оставшаяся сумма оплачивается при приеме товара. Возможно
                                    изготовление в рассрочку при 50% предоплате на полгода.
                                </p>
                                <a href="#"><span>читать далее</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="../images/wooden_plank.png" alt="faq-img">
            </section>
            <img class="sep-gray" src="../images/sep_gray.png" alt="separator">
            <section class="feedback">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="feedback-title">связаться с нами</h2>
                        <div class="form-wrap">
                            <form method="post" action="mail.php" id="ajaxform">
                                <label for="name">ваше имя <span>(обязательно)</span> :</label><br>
                                <input class="form-field" id="name" name="name" required type="text" val=""><br>
                                <label for="phone">ваш e-mail или номер телефона <span>(обязательно)</span> :</label><br>
                                <input class="form-field" id="phone" name="email" required type="text" val=""><br>
                                <label for="textarea">сообщение:</label><br>
                                <textarea name="message" id="textarea" cols="30" rows="10" val=""></textarea>
                                <input type="submit">
                            </form>
                        </div>
                        <img src="../images/wooden_plank.png" alt="scheme-bg">
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}