{% extends "templates/default.njk" %}
{% block header %}
    {% include "templates/partials/header.njk" %}
{% endblock %}
{% block content %}
    <div class="shadow-box"></div>
    <div class="main">
        <div class="container">
            <section class="benefits-1">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="benefit-1 clearfix">
                            <img src="../images/axe_1.png" alt="img">
                            <p><span class="word-1">бесплатная</span><br><span class="word-2">доставка</span></p>
                        </div>
                        <div class="benefit-1 clearfix">
                            <img src="../images/axe_1.png" alt="img">
                            <p><span class="word-1">работаем</span><br><span class="word-2">с 2013 года</span></p>
                        </div>
                        <div class="benefit-1 clearfix">
                            <img src="../images/axe_1.png" alt="img">
                            <p><span class="word-1">изготовление</span><br><span class="word-2">до 1 месяца</span></p>
                        </div>
                        <div class="benefit-1 clearfix">
                            <img src="../images/axe_1.png" alt="img">
                            <p><span class="word-1">гарантия</span><br><span class="word-2">18 месяцев</span></p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="scheme-wrap">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="scheme">
                            <h2 class="scheme-title">схема работы</h2>
                            <ul class="scheme-captions-1">
                                <li><p>Вы звоните нам или<br> оставляете заявку</p></li>
                                <li><p>Обсуждение проекта,<br>составление тз</p></li>
                                <li><p>Документальное оформление отношений</p></li>
                                <li><p>Предоплата 50%<br><br></p></li>
                            </ul>
                            <img class="scheme-line-1" src="../images/scheme_line_1.png" alt="scheme">
                            <ul class="scheme-captions-2">
                                <li><p>дальнейшее<br>сотрудничество</p></li>
                                <li><p>прием товара<br>и оплата</p></li>
                                <li><p>бесплатная<br>доставка</p></li>
                                <li><p>выполнение работ<br><br></p></li>
                            </ul>
                            <img class="scheme-line-2" src="../images/scheme_line_2.png" alt="scheme">
                        </div>
                    </div>
                </div>
            </section>
            <img class="sep-gray" src="../images/sep_gray.png" alt="separator">
            <section class="benefits-2">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="benefit-2 clearfix">
                            <img src="../images/axe_2.png" alt="img">
                            <p><span class="word-1">экологичность</span><br><br></p>
                        </div>
                        <div class="benefit-2 clearfix">
                            <img src="../images/axe_2.png" alt="img">
                            <p><span class="word-1">эксклюзивность</span><br><br></p>
                        </div>
                        <div class="benefit-2 clearfix">
                            <img src="../images/axe_2.png" alt="img">
                            <p><span class="word-1">рассрочка</span><br><span class="word-2">без банка</span></p>
                        </div>
                        <div class="benefit-2 clearfix">
                            <img src="../images/axe_2.png" alt="img">
                            <p><span class="word-1">качество</span><br><br></p>
                        </div>
                        {#<div class="benefit-2 clearfix">
                            <img src="../images/axe_2.png" alt="img">
                            <span>Экологичность</span>
                        </div>
                        <div class="benefit-2 clearfix">
                            <img src="../images/axe_2.png" alt="img">
                            <span>эксклюзивность</span>
                        </div>
                        <div class="benefit-2 clearfix">
                            <img src="../images/axe_2.png" alt="img">
                            <span>рассрочка</span>
                        </div>
                        <div class="benefit-2 clearfix">
                            <img src="../images/axe_2.png" alt="img">
                            <span>качество</span>
                        </div>#}
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}