{% extends "templates/default.njk" %}
{% block header %}
    {% include "templates/partials/header.njk" %}
{% endblock %}
{% block content %}
    <section class="portfolio-wrap">
        <img class="header-shadow img-responsive" src="images/top_shadow.png" alt="shadow">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="portfolio-link">
                        <a href="cottage.html">
                            <img src="../images/cottage.png" alt="cottage">
                            <p class="portfolio-caption">загородный дом<br><br></p>
                        </a>
                    </div>
                    <div class="portfolio-link">
                        <a href="tatyshev.html">
                            <img src="../images/tatyshev.png" alt="tatyshev">
                            <p class="portfolio-caption">"татышев парк"<br><br></p>
                        </a>
                    </div>
                    <div class="portfolio-link">
                        <a href="roev.html">
                            <img src="../images/roev.png" alt="roev">
                            <p class="portfolio-caption">парк флоры и фауны<br>"роев ручей"</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <img class="bottom-shadow img-responsive" src="images/top_shadow.png" alt="shadow">
    </section>
{% endblock %}