{% extends "templates/default.njk" %}
{% block header %}
    {% include "templates/partials/header.njk" %}
{% endblock %}
{% block content %}
    <section class="portfolio-wrap">
        <img class="header-shadow img-responsive" src="images/top_shadow.png" alt="shadow">
        <div class="portfolio-box">
            {% import "templates/macros/breadcrumbs.njk" as breadcrumbs %}
            {{ breadcrumbs.page(secondHref = 'portfolio', secondLink = 'работы', thirdLink = 'Татышев-парк') }}
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="portfolio">
                            {% for item in portfolio_tatyshev_1 %}
                                <div class="portfolio-item">
                                    <a href="{{ item.href }}" data-rel="lightcase:myCollection"><img src="{{ item.src }}" alt="{{ item.alt }}"></a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="portfolio">
                            {% for item in portfolio_tatyshev_2 %}
                                <div class="portfolio-item">
                                    <a href="{{ item.href }}" data-rel="lightcase:myCollection"><img src="{{ item.src }}" alt="{{ item.alt }}"></a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img class="bottom-shadow img-responsive" src="images/top_shadow.png" alt="shadow">
    </section>
{% endblock %}