@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .brown {
    height: 480px;
  }
  .box {
    height: 337px;
    .title-wrap {
      .header-title {
        @include navText(2.5rem);
        line-height: 3.5rem;
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .brown {
    height: 630px;
  }
  .box {
    height: 442px; //337px;
    .title-wrap {
      display: none !important;
      visibility: hidden;
    }
  }
}
@media only screen and (max-width: 767px) {
  .brown {
    height: 630px;
  }
  .box {
    height: auto; //337px;
    .title-wrap {
      display: none !important;
      visibility: hidden;
    }
    .slider-wrap {
      margin-bottom: 0;
    }
  }
}
