@media only screen and (max-width: 991px) {
  .portfolio-wrap {
    .portfolio-link {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .portfolio-wrap {
    .portfolio-link {
      width: 25%;
      margin-right: 10%;
    }
  }
}
@media only screen and (min-width: 580px) and (max-width: 767px) {
  .portfolio-wrap {
    .portfolio-link {
      width: 24%;
      margin-right: 9%;
    }
    .portfolio-caption {
      font-size: 2rem;
      line-height: 2rem;
    }
  }
}
@media only screen and (min-width: 320px) and (max-width: 579px) {
  .portfolio-wrap {
    text-align: center;
    .portfolio-link {
      width: 70%;
      padding-top: 1rem;
      margin-bottom: 1rem;
    }
    .portfolio-caption {
      font-size: 1.6rem;
      line-height: 1.6rem;
      margin-bottom: .8rem;
    }
  }
}