<div class="container">
    <footer class="footer">
    </footer>
</div>
<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.js" defer></script>
<!-- endbower -->
<!-- endbuild -->
<!-- build:js scripts/plugins.js -->
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js" defer></script>
<!-- endbuild -->
<!-- build:js scripts/main.js -->
<script src="scripts/main.js" defer></script>
<!-- endbuild -->