<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <ul class="footer-nav">
                    <li><a href="/">Главная</a></li>
                    <li><a href="gallery.html">Галерея</a></li>
                    <li><a href="portfolio.html">Работы</a></li>
                    <li><a href="faq.html">Частые вопросы</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="social">
                    <a class="icon-fb social-link" href="https://www.facebook.com/groups/666126636824371/" target="_blank"></a>
                    <a class="icon-vk social-link" href="http://vk.com/starinamebel24" target="_blank"></a>
                    <a class="icon-email social-link" href="mailto:starinamebel24@mail.ru"></a>
                </div>
            </div>
            <div class="col-lg-6">
                <p class="footer-text">
                    &copy;"Старина Мебель". 2013-2016. Все права защищены. <br>
                    Запрещено любое копирование материалов сайта без письменного согласия владельца.
                </p>
            </div>
        </div>
    </div>
</footer>
<p class="back-top hidden" id="back-top">
    <a href="#top"><span></span></a>
</p>
<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.js" defer></script>
<script src="scripts/vendor/lightcase.js" defer></script>
<!-- endbower -->
<!-- endbuild -->
<!-- build:js scripts/plugins.js -->
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js" defer></script>
<!-- endbuild -->
<!-- build:js scripts/main.js -->
<script src="scripts/main.js" defer></script>
<!-- endbuild -->