<header class="header">
    <div class="container">
        <img class="light-1" id="top" src="images/light.png" alt="light">
        <img class="light-2" src="images/light.png" alt="light">
        {% block nav %}
            {% include "templates/partials/nav.njk" %}
        {% endblock %}
    </div>
</header>
<div class="brown"></div>