<div class="row">
    <div class="col-lg-2">
        <div class="logo">
            <a href="/"><img src="images/logo.png" alt="logo-img"></a>
        </div>
    </div>
    <div class="col-lg-10">
        <nav class="nav">
            <ul class="nav-list clearfix">
                <li><a href="/">Главная</a></li>
                <li><a href="gallery.html">Галерея</a></li>
                <li><a href="#">Работы</a></li>
                <li><a href="#">Вопросы</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </nav>
    </div>
</div>