<!doctype html>
<html lang="ru">
{% include "templates/partials/head.njk" %}
<body>
    {% block header %} {% endblock %}
    {% block content %} {% endblock %}
    {% include "templates/partials/footer.njk" %}
</body>
</html>
